#main{
    height: 100%;
    width: 100%;
    z-index: 0;
}
@font-face {
    font-family: 'font-1';
    src: url(./font-family/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2) format(woff2);
}
@font-face {
    font-family: 'font-2';
    src: url(./font-family/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2) format(woff2);
}
@font-face {
    font-family: 'font-3';
    src: url(./font-family/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2) format(woff2);
}
body, button, input, select, textarea{
    font-family: 'font-1';
}
* {
    box-sizing: border-box;
}
.main-1{
    height: 100%;
}
.main-2{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.first-top-container{
    background-color: #000000;
    gap: 16px;
    height: 56px;
    left: 0px;
    padding: 16px;
    position: absolute;
    right: 0px;
    top: 0px;
    transition: background-color .4s ease;
    z-index: 2;
    display: flex;
    align-items: center;

}
.first-top-container .new-first-top-container{
    position: fixed;
}
.spoty-container{
    align-items: center;
    display: flex;
}
.spoty-1{
    height: 32px;
    color: #fff;
    text-decoration: none;
}
.e-9911-baseline{
    box-sizing: border-box;
}
.e-9911-logo{
    stroke: transparent;
    fill: #fff;
}
.space{
    flex: 1;
    -webkit-box-flex: 1;
}
.spoty-container-1{
    display: flex;
}
.search-icon{
    display: flex;
    align-items: center;
    padding: 0px 16px;
}
.e-9911-icon{
    fill: #fff, currentColor;
    height:16px ;
    width: 16px;
}
.open{
    font-weight: 700;
    font-family:'font-1' ;
    font-size: 0.8125rem;
    align-self: center;
    min-inline-size: 0px;
    padding: 0px;
    background-color: initial;
    border: 0;
    border-radius: 9999px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    text-align: center;
    text-decoration: none;
    touch-action: manipulation;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0,3,0,0,1);
    user-select: none;
    vertical-align: middle;
    will-change: transform;
}
.open-app{
    align-items: center;
    background-color: #fff;
    border-radius: 9999px;
    color: #000;
    display: flex;
    font-size: inherit;
    justify-content: center;
    position: relative;
    transition: inherit;
    min-block-size: 32px;
    padding-block: 4px;
    padding-inline: 16px;
    box-sizing: border-box;
}
@supports (overflow-wrap: anywhere) {
    .open-app{
        overflow-wrap: anywhere;
    }
}
.three{
    display: flex;
    align-items: center;
}
.th-icon{
    z-index: 6;
    background: none;
    border: none;
    color: #fff;
    margin: 0px;
    margin-inline-start: 16px;
    min-block-size: auto;
    padding: 0px;
    text-align: start;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border-radius: 9999px;
    cursor: pointer;
    text-decoration: none;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0,3,0,0,1);
    user-select: none;
    vertical-align: middle;
    will-change: transform;
    min-inline-size: 0px;
    padding-block:0px ;
    padding-inline: 0px;
    justify-content: center;
}
.three-icon{
    position: static;
    display: flex;
}
.e-9911-icon-1{
    height: 24px;
    width: 24px;
}